/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Settings for: */
li{
    list-style-type: none; /* Remove bullets */
}

a{
    text-decoration: none;
    color: grey;
    display: block;
}



button{
    cursor: pointer;
    border: none;
}

/* ------------------- */

/* Often Repeated Classes */
/* Float Left */
.float_left{
    float: left;
}

/* Float Right */
.float_right{
    float: right;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Flex Container */
.flex_container{
    display: flex;
}

/* ----------- */

/* Line */
div.line{
    border-bottom: 1px solid gray;
    margin: 5px 0;
}

/* TOP BAR- TOP BAR BUTTON */
button.top_bar_button{
    /* Style Settings */
    color: white;
    background-color: #393939;
    /* Box Settings */
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid white;
}

/* SONGS LIST- SONG LIST TITLE */
h2.song_list_title{
    color: white;
    margin-bottom: 10px;
}

/* SONGS LIST- SONG LIST SUBTITLE */
h3.song_list_subtitle{
    color: gray;
    font-size: .8em;
    margin-bottom: 10px;
}

/* SONG LIST- SONG CONTAINER  */
div.song_container{
    /* Box Settings */
    width: calc(100%/6 - 20px); /* Basic condition:Six containers per row (Takin the padding into account) */
    margin: 10px;
    /* Other Settings */
    text-align: center;
    cursor: pointer;
}

/* SONG LIST- SONG IMAGE */
img.song_image{
    width: 100%;
}

/* HOMEPAGE- ARTIST IMAGE */
img.artist_image{
    /* Box Style */
    border-radius: 50%;
    width: 100%;
}

/* HOMEPAGE- SONG IMAGE WRAPPER */
div.song_image_wrapper{
    position: relative;
}

/* HOMEPAGE- PLAY SONG ICON */
i.play_song_icon{
    /* Absolute Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Style */
    color: white;
    font-size: 3em;
    /* Other Settings */
    z-index: -1;
}

/* SONG LIST- SONG TITLE */
div.song_title{
    /* Style */
    font-size: .85em;
    font-weight: bold;
    color: white;
    /* Box Settings */
    margin-bottom: 8px;
}

/* SONG LIST- SONG TITLE */
div.song_subtitle{
    /* Style */
    color: grey;
    font-size: .7em;
    /* Box Settings */
    margin-bottom: 8px;
}
/* TOP BAR */
#top_bar{
    /* Layout Structure */
    width: 100%;
    height: 80px;
    background-color: #0000005e;
    /* Other Settings */
    text-align: right;
    padding: 21px 10px; 
}

/* SIDE BAR */
#side_bar{
    /* Style */
    color: white;
    /* Layout Structure */
    width: 180px;
    height: calc(100vh - 80px);
    background-color: #000;
    /* Flex Settings */
    flex-direction: column;
    justify-content: space-between;
}

/* SIDE BAR- SPOTIFY LOGO */
#spotify_logo{
    width: 70%;
    margin: 10px 0 10px 10px;
}

/* SIDE BAR- SPOTIFY SMALL LOGO */
#spotify_small_logo{
    display: none;
}

/* SIDE BAR- PLAYLIST */
#playlist{
    /* Box Settings */
    margin: 20px 10px;
    height: 100%;
    /* Other Settings */
    overflow-y: auto;
}

/* SIDE BAR- BOTTOM SIDE BAR */
#bottom_side_bar{
    margin: 10px;
}



/* HOMEPAGE */
#homepage{
    /* Layout Structure */
    width: calc(100% - 180px);
    height: calc(100vh - 80px);
    /* Box Settings */
    /* Style */
    background-color: #0f0e18;
    /* Other Settings */
    overflow-y: auto;
}

/* SONGS LIST- SONGS BAR */
#homepage_bar{
    /* Flex Settings */
    justify-content: center;
    flex-wrap: wrap;
}

/* HOMEPAGE- SONGS LIST */
div.songs_list{
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* SONG TOOL BAR- PLAYED SONG IMAGE */
img.played_song_image{
    width: 30%;
}

/* SONG TOOL BAR- PLAYED SONG INFO */
div.played_song_info{
    width: 40%;
}

/* SONG TOOL BAR- PLAYED SONG TITLE */
p.played_song_title{
    font-weight: bold;
    color: white;
}

/* SONG TOOL BAR- PLAYED SONG SUBTITLE */
p.played_song_subtitle{
    font-size: .8em;
    color: gray;
}

/* SONG TOOL BAR- FAVORITE and FOLDER SONG ICON */
i.favorite_song_icon,
i.folder_song_icon{
    color: gray;
}

/* SONG TOOL BAR- CENTER CONTROLS ICONS WRAPPER */
div.center_controls_icons_wrapper{
    /* Box Settings */
    width: 180px;
    /* Flex Settings */
    justify-content: space-evenly;
    align-items: center;
}

/* SONG TOOL BAR- PROGRESS SONG */
div.progress_song{
    width: 100%;
    height: 20px;
    /* Flex Settings */
    justify-content: space-evenly;
    align-items: center;
}

/* SONG TOOL BAR- PROGRESS BAR CONTAINER */
div.progress_bar_container{
    width: 80%;
    background-color: #a9a9a9ba; 
}

/* SONG TOOL BAR- VOLUME BAR CONTAINER */
div.progress_bar{
    /* Box Settings */
    width: 50%;
    height: 5px;
    /* Style */
    background-color: grey;
}

/* SONG TOOL BAR- SCRUBBER */
div.scrubber{
    /* Box Settings */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    /* Style Settings */
    background-color: white;
    /* Other Settings */
    transform: scale(2);
    display: none; /* For the Hover effect */
}

/* SONG TOOL BAR- VOLUME BAR CONTAINER */
div.volume_bar_container{
    width: 50%;
    background-color: #a9a9a9ba;
}

/* SONG TOOL BAR- VOLUME BAR CONTAINER */
div.volume_bar{
    /* Box Settings */
    width: 50%;
    height: 5px;
    /* Style */
    background-color: grey;
}

/* TOOLBAR */
#song_tool_bar{
    /* Layout Structure */
    width: 100%;
    height: 80px;
    background-color: #3c3f51;
    /* Flex Settings */
    justify-content: space-between;
    align-items: center;
}

/* SONG TOOL BAR- PLAYED SONG */
#played_song{
    /* Flex Settings */
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 190px;
}

/* SONG TOOL BAR- CENTER CONTROLS */
#center_controls{
    /* Style */
    color: white;
    /* Box Settings */
    width: 50%;
    height: 60px;
    /* Flex Settings */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* SONG TOOL BAR- RIGHT CONTROLS */
#right_controls{
    /* Style */
    color: white;
    /* Box Settings */
    width: 190px;
    /* Flex Settings */
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 190px;
}

/* SIDE BAR- PLAYLIST> LI */
#playlist li{
    margin: 8px 0;
}
/* SIDE BAR- Anchors */
#navigation_bar a{
    margin-left: 10px;
}

/* SONGS LIST- SONGS BAR> A */
#homepage_bar a{
    /* Box Settings */
    padding: 10px 0;
    margin: 10px;
}

/* SIDE BAR- NAVIGATION BAR> ICONS */
#navigation_bar .icon{
    /* Box Settings */
    width: 15%;
    /* Other Settings */
    vertical-align: middle;
}

/* SIDE BAR- BOTTOM SIDE BAR> ICONS */
#bottom_side_bar .icon{
    /* Box Settings */
    width: 10%;
    /* Other Settings */
    vertical-align: middle;
}

/* -----------HOVER EFFECTS--------- */
/* HOMEPAGE- SONG CONTAINER */
/* Hover effect */
div.song_container:hover i.play_song_icon{
    z-index: 2;
}

/* HOMEPAGE- SONG CONTAINER */
/* Hover Effect */
div.song_container:hover img.song_image{
    filter:opacity(65%);
}


/* Hover Effect */
/* All the ANCHORS become white */
#homepage_bar a:hover,
#navigation_bar a:hover,
#playlist a:hover,
#bottom_side_bar a:hover{
    color: white;
}

/* TOP BAR- TOP BAR BUTTON */
/* Hover Effect */
button.top_bar_button:hover{
    transform: scale(1.2);
}

/* SONG TOOL BAR- PLAYED SONG SUBTITLE */
/* Hover Effect */
p.played_song_subtitle:hover{
    text-decoration: underline;
    color: white;
}

/* SONG TOOL BAR- FAVORITE and FOLDER SONG ICON */
/* Hover Effect */
i.favorite_song_icon:hover,
i.folder_song_icon:hover{
    color: white;
}

/* SONG TOOL BAR- CENTER CONTROLS ICONS WRAPPER> */
/* Hover Effect */
div.center_controls_icons_wrapper i.fa-play-circle:hover{
    transform: scale(1.2);
}

/* SONG TOOL BAR- PROGRESS BAR CONTAINER and VOLUME BAR CONTAINER */
/* Hover Effect */
div.progress_bar_container:hover div.progress_bar,
div.volume_bar_container:hover div.volume_bar{   
    background-color: #72bb40; 
}

/* SONG TOOL BAR- PROGRESS BAR CONTAINER */
/* Hover Effect */
div.progress_bar_container:hover div.scrubber,
div.volume_bar_container:hover div.scrubber{
    display: block;
}


/* ----------END HOVER EFFECTS---------- */

/* SONG TOOL BAR- CENTER CONTROLS ICONS WRAPPER> */
div.center_controls_icons_wrapper i.fa-play-circle{
    font-size: 1.8em;
}
/* ---------------------- */



/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {  
    /* HOMEPAGE- SONGS LIST */
    div.songs_list{
        flex-wrap: wrap;
    }

    /* SONG LIST- SONG CONTAINER  */
    div.song_container{
        /* Tablets:Four containers per row 
        (Takin the padding into account) */
        width: calc(100%/4 - 20px);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

    /* HOMEPAGE- SONGS LIST */
    div.songs_list{
        flex-wrap: wrap;
    }
    /* SONG LIST- SONG CONTAINER  */
    div.song_container{
        /* Landscape phones:Two containers per row 
        (Takin the padding into account) */
        width: calc(100%/2 - 20px);
    }

}

/* X-Small devices */
@media (max-width: 576px) { 
    /* HOMEPAGE- SONGS LIST */
    div.songs_list{
        flex-wrap: wrap;
    }
    
    /* SONG LIST- SONG CONTAINER  */
    div.song_container{
        /* X-small devices:Two containers per row 
        (Takin the padding into account) */
        width: calc(100%/2 - 20px);
    }

    /* Line */
    div.line{
        display: none;
    }

    /* Link Text */
    span.link_text{
        display: none;
    }

    /* TOP BAR */
    #top_bar{
        /* Layout Structure */
        width: calc(100% - 50px);
    }
    
    /* SIDE BAR */
    #side_bar{
        /* Box Settings */
        width: 50px;
        /* Other Settings */
        text-align: center;
    }
    
    /* SIDE BAR SPOTIFY LOGO */
    #spotify_logo{
        display: none;
    }

    /* SIDE BAR- SPOTIFY SMALL LOGO */
    #spotify_small_logo{
        /* Box Settings */
        width: 90%;
        margin: 5px auto;
        /* Other Settings */
        display: inline;
    }

    /* SIDE BAR- PLAYLIST */
    #playlist{
        display: none;
    }

    /* HOMEPAGE */
    #homepage{
        /* Layout Structure */
        width: calc(100% - 50px);
        /* Other Settings */
        overflow-y: auto;
    }
    
    /* SIDE BAR- All the Anchors */
    #navigation_bar a{
        text-align: center;
        margin-left: 0;
    }

    /* SIDE BAR- NAVIGATION BAR> ICONS */
    #navigation_bar .icon{
        /* Box Settings */
        width: 90%;
        /* Other Settings */
        vertical-align: middle;
    }

    /* SIDE BAR- BOTTOM SIDE BAR> ICONS */
    #bottom_side_bar .icon{
        /* Box Settings */
        width: 90%;
        margin: 5px 0;
        /* Other Settings */
        vertical-align: middle;
    } 
}







