/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none; /* Remove bullets */
}

a{
    text-decoration: none;
}

/* Float Left */
.float_left{
    float: left;
}

/* Float Right */
.float_right{
    float: right;
}

/* Clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Flex Container */
.flex_container{
    display: flex;
}

/* Line */
.line{
    border-bottom: 1px solid gray;
}

button.top_bar_button{
    /* Style Settings */
    color: white;
    background-color: #393939;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid white;
}


#top_bar{
    /* Layout Structure */
    width: calc(100% - 180px);
    height: 80px;
    background-color: #121120;
    /* Other Settings */
    text-align: right;
    padding: 21px 10px; 

}

#side_bar{
    /* Layout Structure */
    width: 180px;
    height: calc(100vh - 80px);
    background-color: #000;
    /* Flex Settings */
    flex-direction: column;
    justify-content: space-between;
}

#songs_list{
    /* Layout Structure */
    width: calc(100% - 180px);
    height: calc(100vh - 160px);
    padding: 0 20px;
    background-color: #252255;
}

#tool_bar{
    /* Layout Structure */
    width: 100%;
    height: 80px;
    background-color: #3c3f51;
}

/* SPOTIFY LOGOS */
#spotify_logo{
    width: 70%;
    margin: 10px 0 10px 10px;
}

#spotify_small_logo{
    display: none;
}

/* PLAYLIST */
#playlist{
    /* Box Settings */
    margin-left: 10px;
    height: 100%;
    /* Other Settings */
    overflow-y: auto;
}

/* BOTTOM SIDE BAR */
#bottom_side_bar{
    margin: 0 10px;
}

/* SIDE BAR- All the Anchors */
#navigation_bar a{
    display: block;
    margin-left: 10px;
}

/* SONGS LIST- SONGS BAR */
#songs_bar{
    /* Flex Settings */
    justify-content: center;
    flex-wrap: wrap;
}

/* SONGS LIST- SONGS BAR> A */
#songs_bar a{
    display: block;
    /* Box Settings */
    padding: 10px 0;
    margin: 10px;
}



/* PLAYLIST> LI */
#playlist li{
    margin: 6px 0;
}


/* SIDE BAR- BOTTOM SIDE BAR> ICONS */
#bottom_side_bar .icon{
    /* Box Settings */
    width: 10%;
    /* Other Settings */
    vertical-align: middle;
}

/* SIDE BAR- NAVIGATION BAR> ICONS */
#navigation_bar .icon{
    /* Box Settings */
    width: 20%;
    /* Other Settings */
    vertical-align: middle;
}


/* SONG LIST- SONG CONTAINER  */
.song_container{
    width: calc(100%/6 - 15px);
    margin-right: 15px;
    /* Other Settings */
    text-align: center;
}



/* SONG LIST- SONG IMAGE */
img.song_image{
    width: 100%;
}


/* Media Queries */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {  
    #recently_played_songs{
        flex-wrap: wrap;
    }

    .song_container{
        width: calc(100%/4 - 15px);

    }

    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {

    #recently_played_songs{
        flex-wrap: wrap;
    }
    .song_container{
        width: calc(100%/2 - 15px);

    }

}



/* X-Small devices */
@media (max-width: 576px) { 
    
    #recently_played_songs{
        flex-wrap: wrap;
    }

    .song_container{
        width: calc(100% - 15px);

    }


    /* Line */
    .line{
        display: none;
    }


    /* Link Text */
    span.link_text{
        display: none;
    }

    #top_bar{
        /* Layout Structure */
        width: calc(100% - 50px);
    }
    
    /* SIDE BAR */
    #side_bar{
        width: 50px;
        text-align: center;
    }
    
    
    /* SPOTIFY LOGOS */
    #spotify_logo{
        display: none;
    }

    #spotify_small_logo{
        /* Box Settings */
        width: 90%;
        margin: 5px auto;
        /* Other Settings */
        display: inline;
    }

    /* PLAYLIST */
    #playlist{
        display: none;
    }

    /* SONGS LIST */
    #songs_list{
        /* Layout Structure */
        width: calc(100% - 50px);
        overflow-y: auto;
    }
    
    /* SIDE BAR- All the Anchors */
    #navigation_bar a{
        text-align: center;
        margin-left: 0;
    }

    
    /* SIDE BAR- NAVIGATION BAR> ICONS */
    #navigation_bar .icon{
        /* Box Settings */
        width: 90%;
        /* Other Settings */
        vertical-align: middle;
    }

    /* SIDE BAR- BOTTOM SIDE BAR> ICONS */
    #bottom_side_bar .icon{
        /* Box Settings */
        width: 90%;
        /* Other Settings */
        vertical-align: middle;
    } 
}


/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */









